.main-grid-container {
    grid-template-columns: repeat(3, minmax(310px, 315px));
    place-content: center;
    height: 95%;
    margin-block: 0px;
}


.container-card-1 {
    border-radius: 8px 0px 0px 8px;
}


.container-card-3 {
    border-radius: 0px 8px 8px 0px;
}


.card button:hover {
    border: 2px solid var(--transparent-white);
    color: var(--transparent-white);
    cursor: pointer;
}


.container-card-1 button:hover {
    background-color: var(--bright-orange);
}


.container-card-2 button:hover {
    background-color: var(--dark-cyan);
}


.container-card-3 button:hover {
    background-color: var(--very-dark-cyan);
}


footer a:hover {
    text-decoration: underline;
}